div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}


.main_list__item{
	border: 1px solid black;
	margin-bottom: 15px;
}
.main_list__title{
	text-align: center;
	font-size: 21px;
	font-weight: 800;
}