

/* Start:/bitrix/templates/as_prostosite_gray/colors.css?1474390358246*/
div#header {background:#6A7B8C;}
div#topmenu ul li {background:#7191A6;}
div#topmenu ul li:hover {background:#8BAEC5;}
div#topmenu ul li.selected {background:#8BAEC5;}
div#topmenu ul li a {color:#FFF;}
div#topmenu ul li a:hover {color:#FFF;}
/* End */


/* Start:/bitrix/components/ambersite/slider/templates/.default/style.css?1474390369260*/
.bx-wrapper .bx-viewport {-webkit-box-shadow:none !important; box-shadow:none !important; left:0 !important; border:none !important; z-index:1 !important;}
.bx-wrapper .bx-viewport ul {padding:0;}
.bx-wrapper .bx-controls-direction a {z-index:98 !important;}
/* End */


/* Start:/bitrix/components/ambersite/slider/templates/.default/jquery.bxslider/jquery.bxslider.css?14743903693836*/
/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border:  5px solid #fff;
	left: -5px;
	background: #fff;

	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
	-ms-transform: translatez(0);
	-o-transform: translatez(0);
	transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 10px;

}

.bx-wrapper .bx-next {
	right: 10px;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}

/* End */


/* Start:/bitrix/templates/as_prostosite_gray/template_styles.css?14743903582902*/
/*@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&subset=latin,cyrillic);*/
html {height:100%;}
body {margin:0 auto; padding:0; height:100%; font-family:'Roboto Condensed'; font-size:16px; color:#333;}
a {color:#09C;}
div#panel {}
div#header {min-height:100px; width:100%; clear:both; position:fixed; top:0; box-shadow:0px 0px 20px rgba(0,0,0,0.4); z-index:99;}
div#headerin {height:100px; width:1200px; margin:0 auto; position:relative;}
div#toplogo {height:100%; float:left; display:table; margin:0 30px 0 30px;}
div#toplogo a {display:table-cell; vertical-align:middle;}
div#toplogo img {border:0;}
div#topmenu {float:left; position:relative;}
div#topmenuin {height:100%; position:absolute; top:54px; width:10000px;}
div#topmenu ul {list-style:none; margin:0; padding:0;}
div#topmenu ul li {display:inline-block; margin:0 20px 0 0;}
div#topmenu ul li:hover { transition:0.3s;}
div#topmenu ul li a {text-decoration:none; display:block; padding:8px 15px 8px 15px; font-weight:400;}
div#slogan {margin:11px 0 0 2px; line-height:1em; color:#FFF;}
div#topphone {position:absolute; right:50px; top:10px; font-size:26px; color:#FFF;}

div#body {min-height:100%; width:1200px; margin:0 auto; box-shadow:0px 0px 20px rgba(0,0,0,0.4);}
div#bodyin {}
div#workarea {margin:0 30px 0 30px; padding:120px 0 80px 0;}
div#workarea h1 {font-size:30px; font-weight:normal; margin:0 0 20px 0; line-height:1em;}
#workarea img {margin:5px 10px 10px 10px; border:none;}
#workarea img.left {margin-left:0; float:left;}
#workarea img.right {margin-right:0; float:right;}
#workarea table {width:100%; border-collapse:collapse;}
#workarea table td {border:1px solid #ccc; padding:10px; vertical-align:top;}
#workarea table.empty td {border:none;}
#workarea .vcard {line-height:1.5em;}

div#footer {height:60px; position:relative; margin-top:-61px; background: #CCC; width:100%; border-top:1px solid #BCBCBC; box-shadow:0px 0px 20px rgba(0,0,0,0.4);}
div#footerin {width:1200px; height:100%; margin:0 auto; display:table;}
div#footerinin {display:table-cell; vertical-align:middle; clear:both;}
div#fleft {display:inline-block; float:left; margin:0 0 0 20px; font-size:14px;}
div#fright {display:inline-block; float:right; margin:0 20px 0 0; font-size:14px; position:relative;}
div#bx-composite-banner {position:absolute; bottom:-8px; left:-220px; display:block;}

.news-list table td {border:none !important;}
.news-detail table {width:inherit !important;}
.news-detail table td {border:none !important; padding: inherit !important; vertical-align:inherit !important;}
.bx_item_detail_rating {width:auto !important;}
.bx_item_detail_rating td {border:none !important; padding: inherit !important; vertical-align:inherit !important;}
.bx-wrapper img {margin:inherit !important; border:none;}
/* End */
/* /bitrix/templates/as_prostosite_gray/colors.css?1474390358246 */
/* /bitrix/components/ambersite/slider/templates/.default/style.css?1474390369260 */
/* /bitrix/components/ambersite/slider/templates/.default/jquery.bxslider/jquery.bxslider.css?14743903693836 */
/* /bitrix/templates/as_prostosite_gray/template_styles.css?14743903582902 */




